@import "common";

* {
    position: relative;
    // border: 2px solid black;
}

html,body {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: rgba($mt_grey2,1);
}

header { 
    z-index: 25;
    width: 100%;
    height: 200px;
    & div.logobox{
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        height: 200px;
        background-color: $mt_blue2;
        & img#logo{
            top: 25px;
            position: absolute;
            width: 400px ;
            left: calc(( 100% - 400px ) / 2 );
        }
    } 
}
main { 
    padding: 50px;
    & div.line{
        display: inline-block;
        height: 30px;
        width: 10px;
        background-color: $mt_yellow;
        margin: auto 5px;
        transform: translateY(3px);
    }
    & h2 {
        display: inline-block;
    }
    div.hr{
        width: 100%;
        height: 5px;
        background-color: $mt_blue1;
        margin: 30px;
    }
    button{
        margin-bottom: 20px;
    }
    button.btnA_XLwRA{
        z-index: 2;
        width: 190px;
        height: 45px;
        border: 1px solid $mt_black;
        background-color: white;
        outline: 0px !important;
        transition: 0.2s all ease-in-out;
        &::after{
            z-index: 1;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-right: 1px solid $mt_black;
            border-bottom: 1px solid $mt_black;
            left: 8px;
            top: 8px;
            transition: 0.2s all ease-in-out;
        }
        & p {
            position: absolute;
            top: 7px;
            left: 20px;
            transition: 0.2s all ease-in-out;
        }
        & div.btnArrowXL{
            position: absolute;
            left: 150px;
            top: 13px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 0 9px;
            transition: 0.2s all ease-in-out;
            border-color: transparent transparent transparent $mt_black;
            // overflow: hidden;
            &::before{
                position: absolute;
                content: "";
                left: -11px;
                top: -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 9px 0 0 9px;
                transition: 0.2s all ease-in-out;
                border-color: transparent transparent transparent white;
            }
            &::after{
                position: absolute;
                content: "";
                width: 40px;
                height: 2px;
                left: -40px;
                transition: 0.2s all ease-in-out;
                background-color: $mt_black;
            }
        }  
        &:hover::after{
            z-index: -1;
            position: absolute;
            content: "";
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            background-color: $mt_yellow;
            border-right: 0px;
            border-bottom: 0px;
            left: 0px;
            top: 0px;
            transition: 0.2s all ease-in-out;
        }
        &:hover p{
            color: white;
            transform: translate(5px,5px);
        }
        &:hover{
            border: 0px;
            background-color: $mt_yellow;
        }
        &:hover div{
            left: 158px;
            top: 17px;
            border-color: transparent transparent transparent white;
        }
        &:hover div::before{
            // transform: translate(4px,4px);
            border-color: transparent transparent transparent $mt_yellow;
        }
        &:hover div::after{
            // transform: translate(4px,4px);
            background-color: white;
        }
    }

    button.btnA_LwRA{
        z-index: 2;
        width: 95px;
        height: 45px;
        border: 1px solid $mt_black;
        background-color: white;
        outline: 0px !important;
        &::after{
            z-index: 1;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-right: 1px solid $mt_black;
            border-bottom: 1px solid $mt_black;
            left: 8px;
            top: 8px;
        }
        & p {
            position: absolute;
            top: 7px;
            left: 3px;
        }
        & div.btnArrowL{
            position: absolute;
            left: 76px;
            top: 13px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 0 9px;
            border-color: transparent transparent transparent $mt_black;
            // overflow: hidden;
            &::before{
                position: absolute;
                content: "";
                left: -11px;
                top: -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 9px 0 0 9px;
                border-color: transparent transparent transparent white;
            }
            &::after{
                position: absolute;
                content: "";
                width: 20px;
                height: 2px;
                left: -20px;
                background-color: $mt_black;
            }
        }   
    }

    button.btnA_L{
        z-index: 2;
        width: 95px;
        height: 45px;
        border: 1px solid $mt_black;
        background-color: white;
        outline: 0px !important;
        &::after{
            z-index: 1;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-right: 1px solid $mt_black;
            border-bottom: 1px solid $mt_black;
            left: 8px;
            top: 8px;
        }
        & p {
            position: absolute;
            top: 7px;
            left: 8px;
        }
    } 

    button.btnA_MwRA{
        width: 47px;
        height: 45px;
        border: 1px solid $mt_black;
        background-color: white;
        outline: 0px !important;
        &::after{
            z-index: -1;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-right: 1px solid $mt_black;
            border-bottom: 1px solid $mt_black;
            left: 8px;
            top: 8px;
        }
        & div.btnArrowM{
            position: absolute;
            left: 22px;
            top: 13px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 0 0 9px;
            border-color: transparent transparent transparent $mt_black;
            // overflow: hidden;
            &::before{
                position: absolute;
                content: "";
                left: -11px;
                top: -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 9px 0 0 9px;
                border-color: transparent transparent transparent white;
            }
            &::after{
                position: absolute;
                content: "";
                width: 20px;
                height: 2px;
                left: -20px;
                background-color: $mt_black;
            }
        }   
    }

    button.btnA_S{
        z-index: 2;
        width: 15px;
        height: 15px;
        border: 1px solid $mt_black;
        background-color: white;
        outline: 0px !important;
        & p {
            position: absolute;
            top: -3px;
            left: 0px;
            font-size: 10px;
            font-weight: 500;
        }
    }
    button.btnB_XL_blue{
        z-index: 2;
        width: 190px;
        height: 45px;
        // border: 4px solid $mt_blue2;
        // border-radius: 15px;
        outline: 0px !important;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 4px solid $mt_blue2;
            border-radius: 15px;
        }
        & p {
            z-index: 1;
            color: white;
            transition: 0.4s all ease-in-out;
        }
        & div.bg{
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-color: $mt_blue2;
            overflow: hidden;
            &::after {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                left: 100%;
                width: 130%;
                height: 100%;
                // border-radius: 15px;
                background-color: white;
                transform: skewX(15deg);
                transition: 0.3s all ease-in-out;
            }
        }
        &:hover p{
            color: $mt_blue2;
        }
        &:hover div.bg::after{
            left: 0%;
        }
    }
    button.btnB_XL_yellow{
        width: 190px;
        height: 45px;
        background-color: $mt_yellow;
        border-radius: 15px;
        outline: 0px !important;
        color: white;
    }
    button.btnB_L_blue{
        width: 95px;
        height: 45px;
        background-color: $mt_blue2;
        border-radius: 15px;
        outline: 0px !important;
        color: white;
    }
    button.btnB_L_yellow{
        width: 95px;
        height: 45px;
        background-color: $mt_yellow;
        border-radius: 15px;
        outline: 0px !important;
        color: white;
    }

}